* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: blue;
    font-family:'Courier New', Courier, monospace
}

div {
    height: 200px;
    color: black;
}

a {
    color: red;
}

#paragrafo1 {
    font-weight: bold;
}